# Dependencies
# INIT
yarn init -y
yarn add react react-dom

# Dev Dependencies
yarn add @babel/core @babel/preset-env @babel/preset-react webpack webpack-cli -D

# webpack-bundle-tracker
# Stable version: "webpack-bundle-tracker": "^0.4.3"
yarn add --dev webpack-bundle-tracker

# Babel loader
yarn add babel-loader -D

# Style loaders AND css loaders
yarn add style-loader css-loader