.content {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  flex-direction: column;
}

.content img {
  margin: 20px;
}

.content h1 {
  margin: 20px;
  font-weight: 600;
  font-size: 40px;
}

.content a {
  margin: 20px;
}

.content .btn {
  background: #6c625c;
  height: 46px;
  border-radius: 3px;
  border: 0;
  padding: 0 10px;
  color: white;
  width: 100%;
  font-weight: 500;
  margin-top: 16px;
  transition: background-color 0.3s;
}
.content .btn:hover {
  background: #5f5651;
}
